body {
  font-family: 'poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x : hidden;
}

/* header section */
.area {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header_section {
  background-color: #1e212c;
  padding: 15px;
  
}