body {
  font-family: 'poppins', sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x : hidden;
}

.layout_padding {
  padding: 90px 0;
}
.heading_container {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
}
.heading_container h2{
  position: relative;
  font-weight: bold;
}
.heading_container.heading_center {
  align-items: center;
  text-align: center;
}



/* header section */
.area {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.header_section {
  background-color: #1e212c;
  padding: 15px; 
}
.header_section .header_top {
  padding: 10px 0;
}
.header_section .container-fluid {
  padding-left: 25px;
  padding-right: 25px;
}
.navbar-brand {
  padding: 0;
  margin: 0;
  color: #000000;
  font-weight: bold;
  font-size: 28px;
}
.navbar-brand span {
  color: #ffffff;
  font-size: 25px;
}
.custom_nav-container{
  padding: 0;
}
.custom_nav-container .navbar-nav{
  margin-left: auto;
}
.custom_nav-container .navbar-nav .nav-item .nav-link{
  padding: 10px 25px;
  color: #ffffff;
  text-align: center; 
}
.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link{
  color: #f3c93e;
}
.custom_nav-container .navbar-toggler {
  outline: none;
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all .3s;
}
.custom_nav-container .navbar-toggler span{
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  position: relative;
  transition: all .3s;
  border-radius: 5px;
}

.custom_nav-container .navbar-toggler span:before,
.custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    transition: all .3s;
}
.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  transform: rotate(360deg);
}
.custom_nav-container .navbar-toggler[aria-expanded="true"] span{
  transform: rotate(45deg);
}
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after{
  transform: rotate(90deg);
  top: 0;
}


/* slider section */
.slider_section {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 45px 0;
  background-color: #f7f7f7;
}
.slider_section .row{
  align-items: center;
}
.slider_section .detail-box{
  color: #1e212c;
}
.slider_section .detail-box h1{
  font-weight: bold;
  margin-bottom: 25px;
}
.slider_section .detail-box p{
  color: #6d6d6d
}
.slider_section .detail-box a{
  display: inline-block;
  padding: 10px 45px;
  color: #ffffff;
  background-color: #f3c93e;
  transition: all .3s;
  border-radius: 5px;
  border: 1px  solid #f3c93e;
  margin-top: 15px;
  text-decoration: none;
}
.slider_section .detail-box a:hover{
  background-color: transparent;
  color: #f3c93e;
}

/* product section */
.product_section .heading_container {
  margin-bottom: 25px;
}
.product_section .box{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin-top: 15px;
  position: relative;
  overflow: hidden;
}
.product_section .box .img-box{
  background-color: #f8f8f8;
  width: 100%;
  height: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 15px;
}
.product_section .box .img-box img{
  max-width: 100%;
  height: 175px;
}
.product_section .box .img-box .add_cart_btn{
  display: inline-block;
  width: 175px;
  text-align: center;
  height: 45px;
  line-height: 45px;
  background-color: #1e212c;
  color: #ffffff;
  position: absolute;
  bottom: 50%;
  transform: translate(-50%, 50%);
  left: 50%;
  transition: all .3s;
  opacity: 0;
  z-index: 3;
  text-decoration: none;
}

.product_section .box .img-box::before{
  content: "";
  position: absolute;
  transition: all .2s;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
}
.product_section .box .detail-box{
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.product_section .box .product-info{
  display: flex;
  justify-content: space-between;
}
.product_section .box .star_container{
  color: #f3c93e;
}
.product_section .box:hover .img-box .add_cart_btn{
  visibility: visible;
  opacity: 1;
}
.product_section .box  .add_cart_btn:hover{
  background-color: #f3c93e;
  color: #ffffff;
}
.product_section .box:hover  .img-box::before{
 opacity: 0.55;
}
